tensorflow==2.21.0
keras==3.12.1
tensorflow-datasets==4.9.9
tensorflow-probability==0.25.0
tf_keras==2.21.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
numpy==2.2.5
pandas==2.3.3
scipy==1.15.3
scikit-learn==1.7.2
matplotlib==3.10.9
pillow==12.2.0
h5py==3.14.0
tqdm==4.67.3
absl-py==2.3.1
protobuf==6.33.5
grpcio==1.78.0
keras-cv==0.9.0
keras-tuner==1.4.8
ml_dtypes==0.5.4
opt-einsum==3.3.0
dm-tree==0.1.10
flatbuffers==25.9.23
gast==0.7.0
astunparse==1.6.3
namex==0.1.0
termcolor==3.2.0
wrapt==2.0.1
packaging==26.0
PyYAML==6.0.3
six==1.17.0
rich==14.2.0
typing_extensions==4.15.0
tensorflow-metadata==1.17.3
